@model  MVCNBlog.ViewModels.ErrorViewModel
@{
    ViewBag.Title = Model.StatusCode;
}

<h1 class="error_code">@Model.StatusCode</h1>
<h2 class="error_desc" style="margin-top: 40px;">@Model.StatusDescription</h2><br />
<h2 class="error_desc">@Model.Message</h2><br />
<h2 class="error_desc">@Model.DateTime</h2>