@using MVCNBlog.ViewModels.Roles
@model MVCNBlog.ViewModels.ListViewModel<MVCNBlog.ViewModels.User.UserViewModel>
@{
    ViewBag.Title = "Home Page";
}


<div id="allPage">
    @Html.Partial("AllUsers", Model)

    @Html.RouteLink("Create user", "AllUsers", new {action = "Create"}, new {@class = "btn btn-default"})
</div>


@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {

            $('#userPic').live('click', function(e) {
                var newVal = $(this).find("input").val();
                alert(newVal);
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            $(document).on('click', '.page', (function(e) {
                var newVal = $(e.target).attr("value");

                var url = '@Url.Action("All", "User")/page' + newVal;

                $.ajax({
                    url: url,
                    cache: false,
                    type: "GET",
                    success: function(data) {

                        $('#allPage').html(data);
                        window.history.pushState("all users", "", "/users/page" + newVal);

                    },
                    error: function(reponse) {
                        alert("error : " + reponse);
                    }
                });
                e.preventDefault();
            }));
        });
    </script>
}
