@using MVCNBlog.ViewModels.Roles
@model MVCNBlog.ViewModels.ListViewModel<MVCNBlog.ViewModels.User.UserViewModel>
@{
    ViewBag.Title = "Users";
}


<div id="allPage">
    <div class="clearfix main_content floatleft" style="width: 100%">
        <div class="clearfix content">
                <h1 style="text-align: center">All users</h1>
            @Html.Partial("AllUsers", Model)
        </div>
    </div>
    

    @Html.RouteLink("Create user", "AllUsers", new {action = "Create"}, new {@class = "btn btn-default"})
</div>


@section scripts
{
<script type="text/javascript" src="~/Scripts/CustomScripts/page-cleanup.js"></script>

    @*<script type="text/javascript">
        $(document).ready(function() {
            $(document).on('click', '.page', (function(e) {
                var newVal = $(e.target).attr("value");

                var url = '@Url.Action("All", "User")/page' + newVal;

                $.ajax({
                    url: url,
                    cache: false,
                    type: "GET",
                    success: function(data) {

                        $('#allPage').replaceWith(data);
                        window.history.pushState("all users", "", "/users/page" + newVal);

                    },
                    error: function(reponse) {
                        alert("error : " + reponse);
                    }
                });
                e.preventDefault();
            }));
        });
    </script>*@
}
