@model MVCNBlog.ViewModels.ListViewModel<MVCNBlog.ViewModels.ArticleViewModel>
@{
    ViewBag.Title = "All";
}

<div id="allPage">
    <h2>Find</h2>
    <p>
        @using (Html.BeginForm("Find", "Article"))
        {
            <label for="findArticle">Find article:</label>
            <input type="text" name="term" id="findArticle" placeholder="start with # to find by tag"/>
        }
    </p>

    @Html.Partial("AllArticles", Model)

    @Html.RouteLink("Create article", "AllArticles", new {action = "Create"})

</div>
@section scripts
{
            <link rel="stylesheet" href="/Content/themes/base/jquery-ui.css">
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('keyup', '#findArticle', (function(e) {
                var findInputVal = $("#findArticle").val();
                var url = '@Url.Action("Find", "Article")/' + findInputVal;

                $.ajax({
                    url: url,
                    cache: false,
                    type: "GET",
                    success: function(data) {

                        $('#allArticles').html(data);
                        window.history.pushState("finded articles", "", "/articles/find/" + findInputVal);

                    },
                    error: function(reponse) {
                        alert("error : " + reponse);
                    }
                });
            }));
        });
            </script>
            <script type="text/javascript">
            $(document).ready(function () {
                $(document).on('click', '.page', (function (e) {
                    var newVal = $(e.target).attr("value");

                    var url = '@Url.Action("All", "Article")/page' + newVal;

                    $.ajax({
                        url: url,
                        cache: false,
                        type: "GET",
                        success: function (data) {

                            $('#allPage').html(data);
                            window.history.pushState("all articles", "", "/articles/page" + newVal);

                        },
                        error: function (reponse) {
                            alert("error : " + reponse);
                        }
                    });
                    e.preventDefault();
                }));
            });
            </script>
        }


