@model  MVCNBlog.ViewModels.User.LoginUserViewModel

@{
    ViewBag.Title = "Login";
}

@Html.Partial("_Login")

<p>
    @Html.RouteLink("Go back", "AuthAction", new { action = "Register" }, new { @class = "btn btn-default" })
</p>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}